{% extends "base.html" %}

{% block titulo %} LIsta de Peliculas {% endblock %}

{% block contenido %}  

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crearP' %}" role="button">Agregar Nueva Película</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Peliculas</h4>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">TItulo</th>
                        <th scope="col">Director</th>
                        <th scope="col">Guionista</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for Pelicula in peliculas %}
                    <tr>
                        <td>{{ Pelicula.id }}</td>
                        <td>{{ Pelicula.Nombre }}</td>
                        <td>{{ Pelicula.Director.Nombre }}</td>
                        <td>{{ Pelicula.Guionista.Nombre }}</td>
                        <td> 
                            <a name="" id="" class="btn btn-info" href="{% url 'editarP' Pelicula.id %}" role="button">Editar</a> 
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminarP' Pelicula.id %}" role="button">Borrar</a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        

    </div>
    <div class="card-footer text-muted">

    </div>
</div>

{% endblock %}

    